<div class="post-preview">
  <%= link_to(post) do %>

    <h2 class="post-title">
      <%= post.title %>
    </h2>

    <% if defined? post.subtitle %>
      <h3 class="post-subtitle">
        <%= post.subtitle %>
      </h3>
    <% end %>

  <% end %>
  <p class="post-meta">
    Posted by <a href="">James</a> on <%= friendly_date post.created_at %>
  </p>
</div>
<hr>